html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#editor{
    height: 100%;
    width: 50%;
    display: inline-block;

}
#iframe{
    height: 100%;
    width: 50%;
    display: inline-block;
}
#container{
    height: 100%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;

}
.ace_editor .ace_marker-layer .ace_bracket { display: none }